################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootbalManager/.vs/FootbalManager/v15/Server/sqlite3/db.lock
/FootbalManager/.vs
/FootbalManager/packages/bootstrap.3.0.0
/FootbalManager/packages
/FootbalManager/TheFanClub
/FootbalManager/TheFootballFanClub/App_Data
/.vs
