@{
    ViewBag.Title = "About Our Fanclub";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
    <div class="row">
        <div class="card col-4">
            <img class="card-img-top" src="~/Images/alphabet-word-images-1295331_640.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title text-center">Football Clubs</h2>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dolor vel neque finibus volutpat. Nunc ac gravida libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium lobortis mauris quis porttitor. In hac habitasse platea dictumst. Nam aliquam rutrum risus, ut hendrerit neque pellentesque quis.</p>
                <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="card col-4">
            <img class="card-img-top" src="~/Images/alphabet-word-images-1295331_640.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title text-center">League Tables</h2>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dolor vel neque finibus volutpat. Nunc ac gravida libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium lobortis mauris quis porttitor. In hac habitasse platea dictumst. Nam aliquam rutrum risus, ut hendrerit neque pellentesque quis.</p>
                <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="card col-4">
            <img class="card-img-top" src="~/Images/alphabet-word-images-1295331_640.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title text-center">News</h2>
                <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dolor vel neque finibus volutpat. Nunc ac gravida libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium lobortis mauris quis porttitor. In hac habitasse platea dictumst. Nam aliquam rutrum risus, ut hendrerit neque pellentesque quis.</p>
                <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
